.paystack {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paystack img {
  width: 50vw;
  height: 40vh;
  object-fit: cover;
}

.paystack button {
  padding: 1rem 2rem;
  border-radius: 20px;
  outline: none;
  background-color: black;
  color: antiquewhite;
  font-size: 2rem;
  margin: auto;
}

@media screen and (max-width: 400px) {
  .paystack img {
    width: 100vw;
    object-fit: cover;
  }

  .paystack button {
    padding: 0.3rem;
  }
}
